<a href="https://colab.research.google.com/github/Geralberrio/Proyecto_Analitica/blob/master/Hospitalizacion_regresion_lineal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regresión Lineal

In [77]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from scipy.stats import reciprocal

from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.linear_model import Ridge, Lasso
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error
from sklearn.decomposition import PCA

In [78]:
# Definamos el `random_state`:
random_state = 42

# Procesamiento de datos

In [79]:
# Carguemos los datos:
data_train = pd.read_csv('./Hospitalizacion_train_data.csv', header=0)
data_train

        case_id  Hospital_code  ... Admission_Deposit   Stay
0             1              8  ...            4911.0   0-10
1             2              2  ...            5954.0  41-50
2             3             10  ...            4745.0  31-40
3             4             26  ...            7272.0  41-50
4             5             26  ...            5558.0  41-50
...         ...            ...  ...               ...    ...
318433   318434              6  ...            4144.0  11-20
318434   318435             24  ...            6699.0  31-40
318435   318436              7  ...            4235.0  11-20
318436   318437             11  ...            3761.0  11-20
318437   318438             19  ...            4752.0   0-10

[318438 rows x 18 columns]

In [80]:
data_test = pd.read_csv('./Hospitalizacion_test_data.csv', header=0)
data_test

        case_id  Hospital_code  ...    Age  Admission_Deposit
0        318439             21  ...  71-80             3095.0
1        318440             29  ...  71-80             4018.0
2        318441             26  ...  71-80             4492.0
3        318442              6  ...  71-80             4173.0
4        318443             28  ...  71-80             4161.0
...         ...            ...  ...    ...                ...
137052   455491             11  ...  41-50             6313.0
137053   455492             25  ...   0-10             3510.0
137054   455493             30  ...   0-10             7190.0
137055   455494              5  ...  41-50             5435.0
137056   455495              6  ...  51-60             4702.0

[137057 rows x 17 columns]

In [81]:
# Veamos la descripción del dataset:
data_train.describe(include='all')

              case_id  Hospital_code  ... Admission_Deposit    Stay
count   318438.000000  318438.000000  ...     318438.000000  318438
unique            NaN            NaN  ...               NaN      11
top               NaN            NaN  ...               NaN   21-30
freq              NaN            NaN  ...               NaN   87491
mean    159219.500000      18.318841  ...       4880.749392     NaN
std      91925.276847       8.633755  ...       1086.776254     NaN
min          1.000000       1.000000  ...       1800.000000     NaN
25%      79610.250000      11.000000  ...       4186.000000     NaN
50%     159219.500000      19.000000  ...       4741.000000     NaN
75%     238828.750000      26.000000  ...       5409.000000     NaN
max     318438.000000      32.000000  ...      11008.000000     NaN

[11 rows x 18 columns]

In [15]:
# Veamos la descripción del dataset:
data_test.describe(include='all')

              case_id  Hospital_code  ...     Age  Admission_Deposit
count   137057.000000  137057.000000  ...  137057      137057.000000
unique            NaN            NaN  ...      10                NaN
top               NaN            NaN  ...   41-50                NaN
freq              NaN            NaN  ...   27746                NaN
mean    386967.000000      18.343747  ...     NaN        4869.731097
std      39565.092259       8.634694  ...     NaN        1080.766723
min     318439.000000       1.000000  ...     NaN        1800.000000
25%     352703.000000      11.000000  ...     NaN        4178.000000
50%     386967.000000      19.000000  ...     NaN        4731.000000
75%     421231.000000      26.000000  ...     NaN        5398.000000
max     455495.000000      32.000000  ...     NaN       11920.000000

[11 rows x 17 columns]

In [35]:
# Verifiquemos si hay datos faltantes:
data_train.isna().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [36]:
data_test.isna().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [82]:
data_train.drop(columns=['City_Code_Patient','Visitors with Patient','case_id'],inplace=True)

In [83]:
data_test.drop(columns=['City_Code_Patient','Visitors with Patient','case_id'],inplace=True)
data_test

        case_id  Hospital_code  ...    Age  Admission_Deposit
0        318439             21  ...  71-80             3095.0
1        318440             29  ...  71-80             4018.0
2        318441             26  ...  71-80             4492.0
3        318442              6  ...  71-80             4173.0
4        318443             28  ...  71-80             4161.0
...         ...            ...  ...    ...                ...
137052   455491             11  ...  41-50             6313.0
137053   455492             25  ...   0-10             3510.0
137054   455493             30  ...   0-10             7190.0
137055   455494              5  ...  41-50             5435.0
137056   455495              6  ...  51-60             4702.0

[137057 rows x 15 columns]

In [84]:
# Eliminemos los registros de bed grade que esten vacios
data_train.dropna(inplace=True)
data_train

        case_id  Hospital_code  ... Admission_Deposit   Stay
0             1              8  ...            4911.0   0-10
1             2              2  ...            5954.0  41-50
2             3             10  ...            4745.0  31-40
3             4             26  ...            7272.0  41-50
4             5             26  ...            5558.0  41-50
...         ...            ...  ...               ...    ...
318433   318434              6  ...            4144.0  11-20
318434   318435             24  ...            6699.0  31-40
318435   318436              7  ...            4235.0  11-20
318436   318437             11  ...            3761.0  11-20
318437   318438             19  ...            4752.0   0-10

[318325 rows x 16 columns]

In [85]:
data_train.isna().sum()

case_id                              0
Hospital_code                        0
Hospital_type_code                   0
City_Code_Hospital                   0
Hospital_region_code                 0
Available Extra Rooms in Hospital    0
Department                           0
Ward_Type                            0
Ward_Facility_Code                   0
Bed Grade                            0
patientid                            0
Type of Admission                    0
Severity of Illness                  0
Age                                  0
Admission_Deposit                    0
Stay                                 0
dtype: int64

In [86]:
data_test.dropna(inplace=True)

In [60]:
data_test.isna().sum()

case_id                              0
Hospital_code                        0
Hospital_type_code                   0
City_Code_Hospital                   0
Hospital_region_code                 0
Available Extra Rooms in Hospital    0
Department                           0
Ward_Type                            0
Ward_Facility_Code                   0
Bed Grade                            0
patientid                            0
Type of Admission                    0
Severity of Illness                  0
Visitors with Patient                0
Age                                  0
Admission_Deposit                    0
dtype: int64

In [88]:
columnas = ['Department', 'Type of Admission','Severity of Illness']
for col in columnas:
  #print(col)
  data_train = pd.concat([data_train.drop(columns=col), pd.get_dummies(data_train[col])], axis=1)

In [91]:
columnas = ['Ward_Type',	'Ward_Facility_Code','Hospital_type_code','Hospital_region_code','Hospital_code',	'City_Code_Hospital','Bed Grade','Age']
for col in columnas:
  #print(col)
  data_train = pd.concat([data_train.drop(columns=col), pd.get_dummies(data_train[col], prefix=col)], axis=1)

In [92]:
data_train

        case_id  Hospital_code  ...  Hospital_region_code_Y  Hospital_region_code_Z
0             1              8  ...                       0                       1
1             2              2  ...                       0                       1
2             3             10  ...                       0                       0
3             4             26  ...                       1                       0
4             5             26  ...                       1                       0
...         ...            ...  ...                     ...                     ...
318433   318434              6  ...                       0                       0
318434   318435             24  ...                       0                       0
318435   318436              7  ...                       0                       0
318436   318437             11  ...                       1                       0
318437   318438             19  ...                       1                       0

[318325 rows x 42 columns]