<a href="https://colab.research.google.com/github/Geralberrio/Proyecto_Analitica/blob/master/Hospitalizacion_clasificacion_RF_GB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regresi√≥n con Random Forest y Gradient Boosting

In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.decomposition import PCA

from matplotlib import pyplot as plt

In [2]:
# Definamos el "random_state" para que los resultados sean reproducibles:
random_state=42

# Preprocesamiento de datos

In [5]:
# Carguemos los datos:
data_train = pd.read_csv('./Hospitalizacion_train_data.csv', header=0)
data_train

        case_id  Hospital_code  ... Admission_Deposit   Stay
0             1              8  ...            4911.0   0-10
1             2              2  ...            5954.0  41-50
2             3             10  ...            4745.0  31-40
3             4             26  ...            7272.0  41-50
4             5             26  ...            5558.0  41-50
...         ...            ...  ...               ...    ...
210982   210983             10  ...            4087.0  21-30
210983   210984             28  ...            4683.0  51-60
210984   210985             11  ...            4570.0  21-30
210985   210986              6  ...            4416.0  21-30
210986   210987             29  ...              45.0    NaN

[210987 rows x 18 columns]

In [3]:
# datos de prueba, estos datos no tienen la variable objetivo porque la idea es medir como funciona el modelo para estos casos nuevos
data_test = pd.read_csv('./Hospitalizacion_test_data.csv', header=0)
data_test

        case_id  Hospital_code  ...    Age  Admission_Deposit
0        318439             21  ...  71-80             3095.0
1        318440             29  ...  71-80             4018.0
2        318441             26  ...  71-80             4492.0
3        318442              6  ...  71-80             4173.0
4        318443             28  ...  71-80             4161.0
...         ...            ...  ...    ...                ...
137052   455491             11  ...  41-50             6313.0
137053   455492             25  ...   0-10             3510.0
137054   455493             30  ...   0-10             7190.0
137055   455494              5  ...  41-50             5435.0
137056   455495              6  ...  51-60             4702.0

[137057 rows x 17 columns]

In [6]:
# Veamos la descripci√≥n del dataset:
data_train.describe(include='all')

             case_id  Hospital_code  ... Admission_Deposit    Stay
count   210987.00000  210987.000000  ...     210987.000000  210986
unique           NaN            NaN  ...               NaN      11
top              NaN            NaN  ...               NaN   21-30
freq             NaN            NaN  ...               NaN   59393
mean    105494.00000      18.554925  ...       4911.492618     NaN
std      60906.84496       8.615863  ...       1068.180261     NaN
min          1.00000       1.000000  ...         45.000000     NaN
25%      52747.50000      11.000000  ...       4226.000000     NaN
50%     105494.00000      19.000000  ...       4778.000000     NaN
75%     158240.50000      26.000000  ...       5435.000000     NaN
max     210987.00000      32.000000  ...      11008.000000     NaN

[11 rows x 18 columns]

In [7]:
# Veamos la descripci√≥n del dataset test:
data_test.describe(include='all')

              case_id  Hospital_code  ...     Age  Admission_Deposit
count   137057.000000  137057.000000  ...  137057      137057.000000
unique            NaN            NaN  ...      10                NaN
top               NaN            NaN  ...   41-50                NaN
freq              NaN            NaN  ...   27746                NaN
mean    386967.000000      18.343747  ...     NaN        4869.731097
std      39565.092259       8.634694  ...     NaN        1080.766723
min     318439.000000       1.000000  ...     NaN        1800.000000
25%     352703.000000      11.000000  ...     NaN        4178.000000
50%     386967.000000      19.000000  ...     NaN        4731.000000
75%     421231.000000      26.000000  ...     NaN        5398.000000
max     455495.000000      32.000000  ...     NaN       11920.000000

[11 rows x 17 columns]

In [8]:
# Verifiquemos si hay datos faltantes:
data_train.isna().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              70
patientid                               0
City_Code_Patient                    2551
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    1
dtype: int64

In [9]:
data_test.isna().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [10]:
# Se elimina las columnas de codigo del pacientes, id del caso y numero de visitantes debido a que no agregan valor al modelo.
data_train.drop(columns=['City_Code_Patient','Visitors with Patient','case_id'],inplace=True)

In [11]:
data_test.drop(columns=['City_Code_Patient','Visitors with Patient','case_id'],inplace=True)

In [12]:
# Eliminemos los registros de bed grade que esten vacios
data_train.dropna(inplace=True)

In [13]:
data_test.dropna(inplace=True)

In [14]:
#Comprobamos que no hay m√°s datos nulos
data_train.isna().sum()

Hospital_code                        0
Hospital_type_code                   0
City_Code_Hospital                   0
Hospital_region_code                 0
Available Extra Rooms in Hospital    0
Department                           0
Ward_Type                            0
Ward_Facility_Code                   0
Bed Grade                            0
patientid                            0
Type of Admission                    0
Severity of Illness                  0
Age                                  0
Admission_Deposit                    0
Stay                                 0
dtype: int64

In [15]:
data_test.isna().sum()

Hospital_code                        0
Hospital_type_code                   0
City_Code_Hospital                   0
Hospital_region_code                 0
Available Extra Rooms in Hospital    0
Department                           0
Ward_Type                            0
Ward_Facility_Code                   0
Bed Grade                            0
patientid                            0
Type of Admission                    0
Severity of Illness                  0
Age                                  0
Admission_Deposit                    0
dtype: int64

In [16]:
#Se aplica el one-hot enconding para las columnas de Departamento del hospital, tipo de admisi√≥n y severidad de la enfermedad.
columnas = ['Department', 'Type of Admission','Severity of Illness']
for col in columnas:
  data_train = pd.concat([data_train.drop(columns=col), pd.get_dummies(data_train[col])], axis=1)

In [17]:
#Se aplica tambi√©n el one-hot enconding para las columnas de Departamento del hospital, tipo de admisi√≥n y severidad de la enfermedad del conjunto test,
# para que al hacer la validaci√≥n no haya problemas
columnas_test = ['Department', 'Type of Admission','Severity of Illness']
for col in columnas_test:
  data_test = pd.concat([data_test.drop(columns=col), pd.get_dummies(data_test[col])], axis=1)

In [18]:
#Se aplica el one-hot enconding para las columnas de la lista, pero con un prefijo del nombre de la columna, 
#debido a que los posibles valores de la variable no indican mucho del dato para el anal√≠sis
columnas = ['Ward_Type',	'Ward_Facility_Code','Hospital_type_code','Hospital_region_code','Hospital_code',	'City_Code_Hospital','Bed Grade','Age']
for col in columnas:
  data_train = pd.concat([data_train.drop(columns=col), pd.get_dummies(data_train[col], prefix=col)], axis=1)

In [19]:
#Se aplica el one-hot enconding para las columnas de la lista en el conjunto test, pero con un prefijo del nombre de la columna, 
#debido a que los posibles valores de la variable no indican mucho del dato para el anal√≠sis
columnas = ['Ward_Type',	'Ward_Facility_Code','Hospital_type_code','Hospital_region_code','Hospital_code',	'City_Code_Hospital','Bed Grade','Age']
for col in columnas:
  data_test = pd.concat([data_test.drop(columns=col), pd.get_dummies(data_test[col], prefix=col)], axis=1)

In [20]:
#se convierte la columna admission deposit en un entero
data_train['Admission_Deposit'] = data_train['Admission_Deposit'].astype('int')

In [21]:
#se convierte la columna admission deposit en un entero del conjunto de test.
data_test['Admission_Deposit'] = data_test['Admission_Deposit'].astype('int')

In [22]:
#vamos a conocer que valores tiene la variable objetivo
data_train['Stay'].value_counts()

21-30                 59372
11-20                 49233
31-40                 37338
51-60                 24531
0-10                  13749
41-50                  7744
71-80                  7231
More than 100 Days     4508
81-90                  3442
91-100                 1922
61-70                  1846
Name: Stay, dtype: int64

In [23]:
#Se aplica un ordinal encoding a la variable objetivo para dejarlo en 11 categor√≠as
data_train['Stay'].replace(
    ['0-10','11-20','21-30','31-40','41-50','51-60','61-70','71-80','81-90','91-100','More than 100 Days'],
    [0,1,2,3,4,5,6,7,8,9,10],
    inplace= True
)

In [24]:
data_train['Stay'].value_counts()

2     59372
1     49233
3     37338
5     24531
0     13749
4      7744
7      7231
10     4508
8      3442
9      1922
6      1846
Name: Stay, dtype: int64

In [25]:
#dataset final
data_train

        Available Extra Rooms in Hospital  patientid  ...  Age_81-90  Age_91-100
0                                       3      31397  ...          0           0
1                                       2      31397  ...          0           0
2                                       2      31397  ...          0           0
3                                       2      31397  ...          0           0
4                                       2      31397  ...          0           0
...                                   ...        ...  ...        ...         ...
210981                                  4     123564  ...          0           0
210982                                  4     123564  ...          0           0
210983                                  2     123564  ...          0           0
210984                                  4     123564  ...          0           0
210985                                  2     123564  ...          0           0

[210916 rows x 94 columns]